<app-loginheader></app-loginheader>
<div align="center" class="container top">
  <h3>Details</h3>
<table  class="table table-hover " style="width: auto ;" >
  
      <tr>
        <th>Name</th>
        <td>{{obj.name}}</td>
      </tr>
  

      <tr>
          <th>Email</th>
          <td>{{obj.email}}</td>
        </tr>
        <tr>
            <th>Mobile No</th>
            <td>{{obj.mobile}}</td>
          </tr>
          <tr>
              <th>Date Of Birth</th>
              <td>{{obj.dob}}</td>
            </tr>


  </table>
</div>
  <app-footer></app-footer>