<app-loginheader></app-loginheader>
<div class="container top">
  <h2>Product List</h2>
 
  <div class="row text-center">
      <div *ngFor='let products of productList'>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{{products.imgUrl}}" >
        <p><strong>{{products.productName}}</strong></p>
        <p>{{products.price}}</p>


        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="decrease(products)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
            </span>
            <input type="text" name="" class="form-control" [(ngModel)]="products.quantity">
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="increase(products)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>

        <button class="btn" (click)="cart(products)">Add To Cart</button>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <div >
        <div >
    <h4>Cart</h4>       
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>

        </tr>
      </thead>
     
      <tbody *ngFor='let products of productList' >
         
        <tr *ngIf="products.quantity!=0">
          <td>{{products.productName}}</td>
          <td>{{products.price}}</td>
          <td>{{products.quantity}}</td>
          <td>{{products.total}}</td>

        </tr>
              
      </tbody>
      <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td>{{total}}</td>
      </tbody>
    
    </table>
  </div>
</div>
  </div>
  <div *ngIf="total!=null">
  <button type="button" class="btn btn-danger" routerLink="/bill" routerLinkActive="active">Generate Bill</button>

