<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand"  routerLink="" routerLinkActive="active" >E store</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- for login wiht facebook -->
      <li>><a (click)="status()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <!-- for using local storage data for login -->
      <!-- <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      <li><a routerLink="/signup" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
    </ul>
  </div>
</nav>