<app-loginheader></app-loginheader>
<div class="top">
<div *ngIf="id==1">
    <div class="row">
    <div class="col-sm-6">
        <img class="img-rounded" width="400" height="500" src="/assets/earphone.jpg">
    </div>
    <div class="col-sm-6">
        <h4>Sony MDR-XB55 Extra-Bass In-Ear Headphones (Black)</h4><br> M.R.P.:Rs 2,190.00<br> Headphones made for electronic
        dance music (EDM)<br> 12mm neodymium drivers for powerful extra bass sound<br> Shiny metallic finish housing<br>        Comfortable, secure-fitting silicone earbuds for long listening hours<br> Carrying pouch supplied<br> Serrated tangle
        free cord
    </div>
</div>
</div>
<div *ngIf="id==2">
    <div class="row">
            <div class="col-sm-6">
    <img class="img-rounded" width="400" height="500" src="/assets/headphone.jpg">
    </div>
    <div class="col-sm-6">
    <h4>Sony MDR-ZX110A On-Ear Stereo Headphones (White)</h4><br>
    Price: Rs 1300<br>
    Colour: White<br>
    30mm dynamic driver unit for clear sound<br>
    High energy neodymium magnets deliver powerful sound<br>
    Slim, folding design for easy portability<br>
    Pressure relieving earpads for extended comfort<br>
    Warranty: 1 Year
    </div>
    </div>
</div>
</div>
<app-footer></app-footer>